.header{
  background-color: $main-color;
  color: white;
  padding: $main-spacing;
  margin-bottom: $main-spacing;

  &--content{
    display: flex;
    align-items: center;
  }

  &--logo{
    margin-right: $main-spacing / 2;
    width: $main-spacing*2;
  }
}