table{
  width: 100%;

  thead{
    border-bottom: 2px solid darken( $main-color,30%);
    color: $font-color;
    background-color: $main-color;
  }

  tr{
    border-bottom: 1px solid #ccc;
  }

  td,th{
    padding: $main-spacing /2 0;
    text-align: center;
  }

  // td{
  //   padding: $main-spacing/4 0;
  //   text-align: center;
  // }
}