$base-font-size: 16px;
$small-font-size: 14px;

$font-family: 'Montserrat', sans-serif;

$main-spacing: 20px;

$max-width: 1000px;

$main-color: rgb(173, 25, 187);
$font-color: #000;

$breakpoints: (
  xs: 500px,
  sm: 800px,
  md: 1000px,
)